{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<title>Blog Army BTS 💜</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Blog Template">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- FontAwesome JS-->
	<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
		integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
		crossorigin="anonymous"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href='{% static "assets/css/theme-8.css" %}'>


</head>

<body>

	<header class="header text-center">
		<h1 class="blog-name pt-lg-4 mb-0">Blog Bts ARMY 💜</h1>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="profile-section pt-3 pt-lg-0">
					<img class="profile-image mb-3 rounded-circle mx-auto" src='{% static "IMG/logo.png" %}'
						alt="image">

					<div class="bio mb-3">Este Blog esta hecho para hablar de BTS<br></div><!--//bio-->

					<hr>
				</div><!--//profile-section-->

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
						<a class="nav-link" type="button" id="namjoom">Kim Namjoom<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="jin">Kim SeokJin<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="suga">Min Yoongi<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="hoseok">Jung Hoseok<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="jimin">Park Jimin<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="tae">Kim Taehyung<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" type="button" id="jungkook">Jeon JungKook<span
								class="sr-only">(current)</span></a>
					</li>
				</ul>

				<div class="my-2 my-md-3">
					<a class="btn btn-primary" href="{% url 'index' %}">Inicio</a>
				</div>
			</div>
		</nav>
	</header>

	<div id="res">

		<div class="main-wrapper" id="ini">
			<section class="cta-section theme-bg-light py-5">
				<div class="container text-center">
					<h2 class="heading">BTS</h2>
					<h3 class="heading">방탄소년단</h3>

					<p class="text"><strong>BTS </strong>(<strong>방탄소년단 /<em> Bangtan Sonyeondan</em></strong>) es un
						grupo
						coreano creado en 2013 por Big Hit Entertainment formado por siete miembros, de nacionalidad
						coreana
						quienes desempeñan diversos roles en el grupo, destacando canto, baile, composición, producción
						y
						creación de letras de canciones, modelaje entre otros. El grupo esta a cargo del CEO Bang
						Shihyuk a.k.a
						"The Hitman Bang", quien administra las actividades del grupo y ayuda a la toma de decisiones
						tanto
						internas como de producción y composición siguiendo el formato actual de idols entrenados.</p>

					<h3 class="heading">Formación de Idols</h3>

					<p class="text">El término "K-pop Idol" no fue popularizado hasta que "Lee Soo Man" (actual fundador
						de SM
						Entertainment) propuso un modelo para entretener, por el cual jóvenes audicionan a una agencia
						con el
						fin de desempeñar diversos roles dentro de un grupo que "debute" (lanzar su primera pieza
						discográfica
						con un concepto, cantidad de miembros y canciones a presentar). Estos jóvenes pasan por un
						período de
						adaptación al funcionamiento de la agencia, determinando que rol desempeñaran dentro del grupo,
						estos
						suelen ser presentados en las categorías de Baile, Rapeo y Canto, sin embargo, y con el pasar
						del tiempo
						y las decisiones que el idol o la empresa determinen, se pueden incluir nuevos roles como
						modelaje, host
						de shows de televisión coreanos, actuación, entre otros. Para finalizar, un K-pop Idol debe
						tener un
						constante entrenamiento de sus capacidades para mantenerse en forma y saludable para atender a
						las
						actividades que la agencia le determine, tales como presentaciones en televisión local,
						conciertos,
						firmas de álbumes, entrevistas etc. Todo esto siendo controlado por la agencia y disponiendo de
						managers
						que cuidan de ellos. Por otro lado, la agencia debuta un grupo dando un video musical a la
						canción
						principal o "Canción Título" (Title Song) del álbum en cuestión, y cuando los idols finalicen el
						período
						de promociones de su álbum son puestos en un hiato donde preparan el siguiente disco o realizan
						otras
						actividades como las previamente mencionadas.</p>

					<h3>Identidad Visual</h3>

					<p>BTS fue creado bajo el nombre coreano <em>Bangtan Sonyeondan</em> (Chicos a prueba de balas),
						este
						concepto busca conectar su música y letras relacionadas a la juventud, las distintas
						experiencias y
						dificultades que esta debe sufrir. Bajo este termino, el logo principal de BTS era un chaleco
						antibalas,
						los eventos anuales para las fans fueron llamados MUSTER (termino en ingles relacionado a la
						formación
						de tropas para batalla), y sus fans recibieron el nombre de A.R.M.Y (siglas referentes a
						Adorable
						Representative MC for Youth / Adorables Representativas MC de Juventud, además de significar
						Army, la
						fuerza militar). En 2017, luego de expandir su relevancia no solo en corea sino a nivel global,
						se
						decidió realizar un cambio en su identidad para comprender de una forma abstracta el concepto de
						Juventud del grupo, establecer una conexión directa con sus fans y representar el cambio y
						madurez del
						grupo. Así el grupo opta por añadir un nuevo significado a BTS, siendo este "Beyond the Scene",
						y su
						logo pasa a ser una puerta abriéndose, mientras que una variación de este logo es para sus fans.
						bajo
						esta nueva identidad se desarrollan nuevos materiales como Burn The Stage, Bring The Soul y
						Break The
						Silence (todas utilizando BTS como iniciales), documentales relacionados a el detrás de escenas
						del
						grupo en sus conciertos, presentando sus opiniones y puntos de vista sobre ciertos eventos.</p>

					<h3>Miembros:</h3>

					<!-- wp:image {"id":12,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full"><img src='{% static "IMG/namjoom.jpg" %}' alt=""
							class="wp-image-12" height="400" />
						<figcaption><strong>Kim Nam-joon</strong> (김남준)</figcaption>
					</figure>
					<!-- /wp:image -->

					<!-- wp:image {"id":14,"width":607,"height":438,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full is-resized"><img src='{% static "IMG/jin.jpg" %}' alt=""
							class="wp-image-14" height="400" />
						<figcaption><strong>Kim Seok-jin</strong> (김석진)</figcaption>
					</figure>
					<!-- /wp:image -->

					<!-- wp:image {"id":15,"width":-575,"height":-827,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full is-resized"><img src='{% static "IMG/yoongi.jpg" %}' alt=""
							class="wp-image-15" height="400" />
						<figcaption><strong>Min Yoon-gi</strong> (민윤기)</figcaption>
					</figure>
					<!-- /wp:image -->

					<!-- wp:image {"id":16,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full"><img src='{% static "IMG/hoseok.jpg" %}' height="400" />
						<figcaption><strong>Jung Ho-seok</strong> (정호석)</figcaption>
					</figure>


					<!-- /wp:image -->

					<!-- wp:image {"id":17,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full"><img src='{% static "IMG/jimin.jpg" %}' alt=""
							class="wp-image-17" height="400" />
						<figcaption><strong>Park Ji-min</strong> (박지민)</figcaption>
					</figure>

					<!-- wp:image {"id":18,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full"><img src='{% static "IMG/taehyung.jpg" %}' alt=""
							class="wp-image-18" height="400" />
						<figcaption><strong>Kim Tae-hyung</strong> (김태형)</figcaption>
					</figure>
					<!-- /wp:image -->

					<!-- wp:image {"id":19,"sizeSlug":"full","linkDestination":"none"} -->
					<figure class="wp-block-image size-full"><img src='{% static "IMG/jungkook.jpg" %}' alt=""
							class="wp-image-19" height="400" />
						<figcaption><strong>Jeon Jung-kook</strong> (전정국)</figcaption>
					</figure>
					<!-- /wp:image -->

					<h3>Discografia</h3>

					<!-- wp:table {"hasFixedLayout":true,"className":"is-style-stripes","fontSize":"large"} -->
					<figure class="wp-block-table is-style-stripes has-large-font-size">
						<table class="has-fixed-layout">
							<tbody>
								<tr>
									<td><img class="wp-image-20" style="width: 150px;"
											src='{% static "IMG/butter.jpg" %}' alt=""></td>
									<td><img class="wp-image-21" style="width: 150px;"
											src='{% static "IMG/butter-single.jpg" %}' alt=""></td>
									<td><img class="wp-image-22" style="width: 150px;" src='{% static "IMG/BE.jpg" %}'
											alt=""></td>
								</tr>
								<tr>
									<td><img class="wp-image-24" style="width: 150px;"
											src='{% static "IMG/dynamite.jpg" %}' alt="">
									</td>
									<td><img class="wp-image-23" style="width: 150px;" src='{% static "IMG/7.jpg" %}'
											alt=""></td>
									<td><img class="wp-image-25" style="width: 150px;"
											src='{% static "IMG/persona.jpg" %}' alt="">
									</td>
								</tr>
								<tr>
									<td><img class="wp-image-26" style="width: 150px;" src='{% static "IMG/LYF.jpg" %}'
											alt=""></td>
									<td><img class="wp-image-27" style="width: 150px;" src='{% static "IMG/LVT.jpg" %}'
											alt=""></td>
									<td><img class="wp-image-28" style="width: 150px;" src='{% static "IMG/LVH.jpg" %}'
											alt=""></td>
								</tr>
								<tr>
									<td><img class="wp-image-29" style="width: 150px;"
											src='{% static "IMG/album-cover.jpg" %}' alt="">
									</td>
									<td><img class="wp-image-30" style="width: 150px;"
											src='{% static "IMG/wings.jpg" %}' alt=""></td>
									<td><img class="wp-image-31" style="width: 150px;"
											src='{% static "IMG/album-cover (1).jpg" %}' alt="">
									</td>
								</tr>
								<tr>
									<td><img class="wp-image-32" style="width: 150px;"
											src='{% static "IMG/album-cover (2).jpg" %}' alt="">
									</td>
									<td><img class="wp-image-33" style="width: 150px;"
											src='{% static "IMG/album-cover (3).jpg" %}' alt="">
									</td>
									<td><img class="wp-image-35" style="width: 150px;"
											src='{% static "IMG/album-cover (4).jpg" %}' alt="">
									</td>
								</tr>
								<tr>
									<td><img class="wp-image-34" style="width: 150px;"
											src='{%static "IMG/album-cover (5).jpg"%}' alt="">
									</td>
									<td><img class="wp-image-36" style="width: 150px;"
											src='{%static "IMG/album-cover (6).jpg"%}' alt="">
									</td>
									<td><img class="wp-image-37" style="width: 150px;"
											src='{%static "IMG/album-cover (7).jpg"%}' alt="">
									</td>
								</tr>
							</tbody>
						</table>
					</figure>
					<!-- /wp:table -->

				</div>
			</section>
		</div>

	</div>

	<footer class="footer text-center py-2 theme-bg-dark">

		<!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
		<small class="copyright">Hecho por Sergio Licona Colorado</small>


	</footer>

	</div><!--//main-wrapper-->



	<!-- Javascript -->

	<script src='{% static "assets/plugins/jquery-3.3.1.min.js" %}'></script>

	<script src='{% static "assets/plugins/popper.min.js" %}'></script>

	<script src='{% static "assets/plugins/popper.min.js" %}'></script>

	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src='{% static "assets/js/demo/style-switcher.js" %}'></script>

	<script>
		document.getElementById('namjoom').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
		
					<div class="main-wrapper">
			<section class="cta-section theme-bg-light py-5">
				<div class="container text-center">
					<h2 class="heading">Kim NamJoom</h2>
					<h3 class="heading">김남준<br>(Rap Monster)</h3>
					<img src='{% static "IMG/namjoom.jpg" %}' alt="image" height="400" align="center"></img>
					<br><br>
					<label><strong>Fecha de nacimiento: </strong>12 de Septiembre de 1994.</label>
					<br>
					<label><strong>Lugar de nacimiento: </strong>Ilsan, Seúl, Corea del Sur.</label>
					<br>
					<label><strong>Altura: </strong>181 cm (1.81 m)</label>
					<br>
					<label><strong>Peso: </strong>64 kg</label>
					<br>
					<label><strong>Profesión: </strong>Rapero, Bailarín, Vocalista, Compositor, Productor, MC y Modelo</label>
					<br>
		
					<p>Kim Nam-joon (김남준) más conocido como RM (Real Me), es el líder de BTS, es un rapero, productor y
						compositor que ingresó a Big Hit antes que los demás miembros, y según sus compañeros, algunos
						ingresaron por que RM estaba en esa agencia. En un inicio, Big Hit tenia planeado debutar a BTS como un
						grupo de 3 raperos donde también estaba RM en él, sin embargo los planes cambiaron a un grupo de 7
						miembros, famoso además, por su aporte en la escritura de letras y la producción en la discografía del
						grupo.</p>
					<hr>
		
					<h3>Infancia</h3>
					<p>Kim Namjoon nació un 12 de septiembre de 1994 (26 años en 2020) en Ilsan-gu, Corea del Sur. Es el mayor
						de dos hermanos y una hermana menor.
						<br><br>
						Siendo niño, aprendió a hablar en Inglés mirando Friends con su madre. Solía escribir poemas y recibir
						premios por sus escrituras cuando era un estudiante. Publicó su trabajo en un sitio web de poesía online
						durante aproximadamente un año, donde recibió algo de atención. A través de esto, RM se interesó en
						seguir una carrera literaria, pero decidió no hacerlo. A la edad de 11 años, RM se interesó en la música
						hip-hop después de escuchar "Fly" de Epik High en quinto grado. Descubrió que la canción le había
						proporcionado consuelo y, debido a esto, decidió investigar más acerca del género. Cundo una profesora
						le mostró la música de Eminem, empezó a interesarse por el arte de escribir letras y comenzó a imprimir
						letras que eran ¨cool¨ y mostrárselas a sus amigos. En 2007, siendo ya un alumno de la escuela
						intermedia, empezó a rapear en círculos de hip-hop amateur, llegando así a grabar él mismo, su primera
						grabación musical usando el programa Adobe Audition. Tuvo su primer ¨concierto¨ en 2008. Más tarde, se
						convirtió en un rapero Underground que, bajo el nombre de RunchuRanda, hacia sus propias canciones,
						llegando a colaborar con ZICO de Block B, el cual en ese entonces se llamaba Nacseo.
						<br><br>
						Estudió también en Nueva Zelanda, donde mejoró su Inglés y actualmente lo maneja fluidamente, siendo él
						quien principalmente habla en ingles durante entrevistas en el extranjero.
					</p>
		
					<h3>Historia</h3>
					<p>Ingresó a Big Hit en 2010, con tan solo 16 años, siendo así el miembro que más tiempo lleva en la
						agencia. Entrenó durante 3 años con su compañero rapero Min Yoon-gi y el bailarín Jung Ho-Seok, ahora
						conocidos como Suga y J-Hope.
						<br><br>
						Trabajó como compositor para el grupo de K-pop GLAM en una canción pro LGBTQ: ¨Party (XXO)¨ Billboard
						mencionó que fue la canción más positiva y con mayor visión del futuro de la última década.
						<br><br>
						El 13 de Junio de 2013, RM debutó con BTS, y desde ese momento, ha producido y escrito varias canciones
						de los álbumes de BTS. El 29 de Agosto de 2013, realizó la intro del EP ¨O!RUL8,2?¨, que fue lanzado
						como un trailer del EP el 11 de septiembre y marcó así su primer solo lanzado colectivamente como ¨BTS¨.
					</p>
		
					<h3>Personalidad</h3>
					<p>RM, durante su carrera dentro y fuera de BTS ha demostrado mediante sus canciones, su descontento con la
						sociedad coreana actual, demostrando lo informado y culto que es en cuanto a actualidad tanto de su país
						como de el extranjero. Dice ser una persona desordenada, que gusta de vivir la vida al máximo, sin
						embargo faceta melancólica e introspectiva también es perceptible en su música, en canciones como
						"Always" o "Reflection".</p>
		
				</div>
			</section>
		</div>
					`;
		});

		document.getElementById('jin').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Kim Seok-jin</h2>
			<h3 class="heading">김석진<br>(Jin)</h3>
			<img src='{% static "IMG/jin.jpg" %}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>04 de Diciembre de 1992.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Ilsan, Seúl, Corea del Sur.</label>
			<br>
			<label><strong>Altura: </strong>179 cm (1.79 m)</label>
			<br>
			<label><strong>Peso: </strong>60 kg</label>
			<br>
			<label><strong>Profesión: </strong>Actor, Cantante, Escritor, Compositor, MC y Modelo</label>
			<br>

			<p>Jin (김석진 / Kim Seokjin) es un miembro de BTS, es un sub-vocalista, actor que ingresó a Big Hit luego de
				que un miembro de la agencia contactara con él y audicionará. Jin es el mayor de el grupo y es uno de
				los miembros que mas tiempo lleva dentro.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>Kim Seokjin, antes de unirse a BTS se encontró con un agente de SM Entertainment que le ofreció
				presentarse a audicionar, sin embargo el pensó que era una estafa.
				<br><br>
				Jin estudiaba teatro en la universidad, es por esto que al audicionar para Big Hit Entertainment, este
				lo hizo para ser actor, no cantante, sin embargo demostró buenas habilidades para el canto, uniéndose en
				2012 a la agencia.
			</p>

			<h3>Personalidad</h3>
			<p>Dentro de su carrera como idol en BTS, Jin ha demostrado ser una persona tranquila, que no provoca
				disturbios ni tampoco hace cosas con malas intenciones, es mas, según RM, Jin le hizo ver la vida desde
				otro punto, ya que el siempre vivía su vida de manera animada, pero jin le hizo entender que vivir
				tranquilo no significa vivir mal.
				<br><br>
				Por otro lado, Jin demuestra mucho cariño hacia sus compañeros, aunque constantemente se le compara con
				el Maknae (Miembro mas joven) del grupo, debido a que siempre bromea con los demás, también se le ha
				visto en su semblante serio..
			</p>

		</div>
	</section>
</div>
					`;
		});

		document.getElementById('suga').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Min Yoongi</h2>
			<h3 class="heading">민윤기<br>(Suga)</h3>
			<img src='{% static "IMG/yoongi.jpg" %}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>09 de Marzo de 1993.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Daegu, Corea del Sur.</label>
			<br>
			<label><strong>Peso: </strong>57 kg</label>
			<br>

			<p>Suga (민윤기 / Min Yoongi) es uno de los miembros más antiguos de BTS, además de ser uno de los mayores. Es
				el rapero principal y se caracteriza por su habilidad de rapero rápido.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>Suga, antes de entrar a BTS jugaba baloncesto, destacándose debido a su flexibilidad, además de aprender
				a tocar el piano nunca dejó su pasión por escribir letras, lo que le llevaba a venderlas por dinero para
				su familia. Fue mientras escuchaba a un grupo coreano que pensó en ser rapero, y su ambición lo llevó a
				presentarse a HIT IT AUDITION, quedando en 2do lugar y entrando a BTS, aunque no estuvo de acuerdo con
				el concepto de los idols, lo hizo con el fin de poder producir sus propias canciones, y debutó con el
				resto del grupo en 2013.</p>

			<h3>Personalidad</h3>
			<p>Min Yoon Gi es reconocido dentro del grupo, por si mismo y por sus fans como una persona fría y
				ambiciosa, que gusta de la tranquilidad y de vivir la vida según su punto de vista. Aunque los miembros
				han explicado que por dentro es una persona amable que cuida de los demás miembros a su manera.</p>


		</div>
	</section>
</div>
					`;
		});

		document.getElementById('hoseok').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Jung Ho Seok</h2>
			<h3 class="heading">정호석<br>(J-Hope)</h3>
			<img src='{% static "IMG/hoseok.jpg" %}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>18 de Febrero de 1994.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Gwangju, Corea del Sur.</label>
			<br>
			<label><strong>Peso: </strong>59 kg</label>
			<br>
			<label><strong>Profesion: </strong>Bailarín, Rapero, Cantante, Letrista, Compositor, Productor, Coreografo,
				MC</label>

			<p>J-Hope (정호석 / Jung Ho Seok), nació el 18 de febrero de 1994 en Gwangju, Corea del sur. Es uno de los
				miembros de BTS, es el bailarín principal, además de coreografo, sin embargo también participa en el
				desarrollo musical del grupo, aunque en menor medida que sus compañeros Rap Monster y Suga, es el tercer
				miembro de la "Rap Line" junto con los dos miembros mencionados antes.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>Antes de ingresar a Big Hit y luego a BTS, Jung Hoseok era un bailarín callejero bajo el nombre de
				"SmileHoya". Sin embargo mas adelante perfeccionaría su estilo de baile en la "Seungri's Dance Academy".
				En su época de bailarín callejero, participó en dos grupos de baile: "GO Arts" y "NEURON", donde ganaría
				diversos premios junto a sus compañeros.
				<br><br>
				J-Hope audicionaría para JYP Entertainment pero no seria aceptado, aunque luego ingresaría a Big Hit.
			</p>

			<h3>Personalidad</h3>
			<p>Dentro del grupo, J-Hope es reconocido por ser alegre y eufórico, según Rap Monster, él junto a Jin,
				ayudan a arreglar el ambiente cuando esta tenso, nervioso o descompuesto debido a su personalidad alegre
				y positiva, además de hacer "aegyo" solo cuando esta en cámara, J-Hope demuestra no tener pudor de
				expresar sus sentimientos alegres con su cuerpo o sus acciones.</p>

		</div>
	</section>
</div>
					`;
		});

		document.getElementById('jimin').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Park Ji min</h2>
			<h3 class="heading">박지민<br>(Jimin)</h3>
			<img src='{% static "IMG/jimin.jpg" %}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>13 de Octubre de 1995.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Busan, Corea del Sur.</label>
			<br>
			<label><strong>Peso: </strong>60 kg</label>
			<br>

			<p>Jimin (박지민 / Park Ji min) Es uno de los primeros vocalistas en ser revelados en BTS junto con Jin, jimin
				es el cantante que destaca por sus notas altas y armonía entre las partes de otros miembros. También es
				parte de la Dance Line, donde resalta por sus movimientos rápidos y baile contemporáneo.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>Jimin nació el 13 de octubre de 1995 en Geumjeong-gu, Busan, Corea del Sur. Además de su padre y madre,
				también tiene un hermano menor. Cuando era pequeño asistió a la Escuela Primaria Hodong y a la Yonsan
				Middle School. Asimismo tomó clases en la Academia Just Dance, donde aprendió distintos tipo de baile
				urbano como popping y locking. Antes de convertirse en aprendiz, Jimin estudió en la Escuela Superior de
				Artes de Busan, donde practicó danza moderna; fue el estudiante más destacado de su departamento.
				Audicionó para Big Hit después de que un profesor le sugiriera postular para una agencia de
				entretenimiento. Posteriormente se transfirió a la Escuela Superior de Artes de Corea en 2012, tras ser
				admitido en la compañía.
				<br><br>
				Jimin se graduó de la Global Cyber University en agosto de 2020, con una especialidad en Entretenimiento
				y Telecomunicación. A fecha de 2021, estudia una Maestría en Administración de Empresas en la Hanyang
				Cyber University.
			</p>

			<h3>Biografia</h3>
			<p>Los sueños de Jimin fueron cambiando constantemente cuando era niño debido a las caricaturas que veía, es
				así que quiso ser científico, conductor de mini coches, espadachín, por lo que aprendió esgrima, e
				inclusive cocinero. Luego se dio cuenta que a pesar de ser tímido le gustaba la atención de las
				personas, y se interesó por el baile luego de ver una presentación de Rain; en ese entonces estaba en
				8vo grado. En 9no grado pensó: "Quiero convertirme en cantante". Entró al colegio de Artes Modernas en
				Busan, y fue uno de sus profesores quien le dijo sobre audicionar en una empresa de entretenimiento.
				<br><br>
				Hizo su audición en Busan para entrar a Big Hit, siendo ésta su primera vez audicionando. Jimin dijo que
				sus manos temblaban a más no poder, incluso al momento de abrir la puerta. También contó que mientras
				cantaba su voz se quebró numerosas veces, pero su baile salió asombroso ya que tenía más confianza. Fue
				aceptado pero con pocas probabilidades de poder debutar como miembro de BTS, incluso la misma compañía
				se lo dijo, debido a esto decidió practicar duro. Sus prácticas duraban hasta la madrugada (en algunos
				momentos se quedaba con Hoseok), y seguía estríctamente su dieta. Incluso dormía sólo 3 horas al día, y
				luego se dedicaba a practicar. Y así fue como logró debutar.
			</p>

		</div>
	</section>
</div>
					`;
		});

		document.getElementById('tae').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Kim Taehyung</h2>
			<h3 class="heading">김태형<br>(V)</h3>
			<img src='{% static "IMG/taehyung.jpg"%}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>30 de Diciembre de 1995.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Daegu-Kojang, Corea del Sur.</label>
			<br>
			<label><strong>Peso: </strong>58 kg</label>
			<br>

			<p>V (김태형 / Kim Taehyung) Es el último miembro en ser revelado de BTS, apareció por primera vez en un Log
				junto a Jin en el canal BANGTANTV y en su Blog oficial, su característica principal dentro del grupo es
				su amplio rango vocal, permitiéndole llegar a tonos variados dependiendo de la canción.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>V antes de unirse al grupo, aprendió como tocar el saxofón, aunque no haya pulido sus habilidades con el
				tiempo, lo demostró en un programa coreano luego de 4 años sin tocar.
				<br><br>
				Se incorporó a Big Hit tras pasar la audición en 2011. Fue el único en ser aceptado en su región
				(Daegu), en su audición se supo que cantó, rapeó, bailó e incluso hizo algunas imitaciones.
			</p>

			<h3>Personalidad</h3>
			<p>Taehyung es una persona con una personalidad cálida, alegre y positiva. Suele hacer amigos con facilidad
				ya que es muy abierto con todo el mundo. No le gusta llorar en público, pues no le gusta que la gente se
				ponga triste al verlo llorar. Es una persona muy familiar, siempre cuidará de su familia y amigos.</p>
		</div>
	</section>
</div>
					`;
		});

		document.getElementById('jungkook').addEventListener('click', function () {
			document.getElementById('res').innerHTML = `
			<div class="main-wrapper">
	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">Jeon Jung Kook</h2>
			<h3 class="heading">전정국<br>(Jungkook)</h3>
			<img src='{% static "IMG/jungkook.jpg" %}' alt="image" height="400" align="center">
			<br><br>
			<label><strong>Fecha de nacimiento: </strong>01 de Septiembre de 1997.</label>
			<br>
			<label><strong>Lugar de nacimiento: </strong>Busan, Corea del Sur.</label>
			<br>
			<label><strong>Peso: </strong>61 kg</label>
			<br>

			<p>Jungkook (전정국 / Jeon Jung Kook) Es el miembro mas joven de BTS, el vocalista principal aunque en su
				single debut 2 COOL 4 SKOOL y su siguiente álbum O!RUL8,2? también rapeaba, sin embargo con el tiempo
				dejo de participar en rapeo o en menor medida. Por último es miembro de la Dance Line junto a Jimin y
				J-Hope.</p>
			<hr>

			<h3>Antecedentes</h3>
			<p>Se unió a Big hit en 2011 cuando tenía 13 años, luego de audicionar para "Superstar K3". Aunque fue
				eliminado en la primera ronda, fue contactado por 8 empresas entre las que destacan JYP entertainment,
				Cube entertainment y FNC entertainment. Al final se decidió por firmar con BigHit entertainment a pesar
				de ser en ese tiempo una empresa pequeña.
				<br><br>
				Antes de debutar iba a tener el nombre artístico Seagull o Young Gun, pero al final decidieron utilizar
				su nombre real.
			</p>

			<h3>Personalidad</h3>
			<p>No es un secreto que Jungkook es uno de los miembros de BTS con mayor humildad y timidez que los demás.
				Esto, por supuesto, no implica que tenga la disposición de conversar o compartir ideas cuando se lo
				piden. Jungkook, además, es leal y siempre trabaja duro para darlo todo a sus seguidores, como la vez
				que, en el día de su cumpleaños, compuso una canción con la letra de ARMY.</p>

		</div>
	</section>
</div>
					`;
		});</script>

</body>

</html>